<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="username" ngModel placeholder="Username" #usernameInput="ngModel" required/>
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name=password1 ngModel placeholder="Password" #passwordInput="ngModel" required/>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name=password2 ngModel placeholder="Confirm Password" #passwordInput="ngModel" required/>
      <mat-error *ngIf="passwordInput.invalid">Confirm password.</mat-error>
    </mat-form-field>
    <mat-error class="signup_error" *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
    <button mat-raised-button color="primary" type="submit">Signup</button>
  </form>
</mat-card>
